body, html {
    width: auto;
    height: 960px;
    background-color: black;
}
.ya {
    width: auto;
    height: 930px;
    float: right;
    position: relative;
    right: 30px;
    top: 30px;
}
.inp {
    width: 650px;
    height: 70px;
    border-radius: 20px;
    position: absolute;
    left: 70px;
    top: 90px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}