body, html {
    height: 100%;
    width: auto;
    background-color: #000000;
}
.vovan {
    width: 0vw;
    height: 0vw;
    animation-name: vertushka;
    animation-iteration-count: infinite;
    animation-duration: 800ms;
    transform-origin: center;
    animation-timing-function: linear;
}
@keyframes vertushka {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}
.button_conteiner button {
    background-color: rgb(0, 118, 172);
    height: 50vh;
    width: 33vw;
    color: #000000;
    border: 0px;
    margin: 4px;
    padding: 4px;
    overflow: hidden;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #255784;
    transition: 0.2s;
    font-size: 25px;
}
#er {
    width: 0px;
    height: 0px;
    position: fixed;
}
.button_conteiner button:hover {
    background-color: rgb(134, 248, 124);
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    border: 0px;
}
#popap_1 {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
#popap_1:target {
    opacity: 1;
    visibility: visible;
}
#popap_2 {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    background-color: #255784;
    z-index: 532;
}
.ton_conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    background-color: rgb(209, 124, 248);
    z-index: 532;
    border-radius: 6vw;
    overflow: hidden;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000;
    transition: 0.2s;
    font-size: 25px;
}